@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import './styles/variables.css';

body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: 'Press Start 2P', monospace;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

.mantine-Button-root {
  text-transform: none;
  font-family: 'Press Start 2P', monospace;
}
